@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 94, 0.8), rgba(26, 108, 195, 0.5)), url("https://img.freepik.com/free-photo/closeup-scientist-doctor-looking-into-medical-microscope-analyzing-blood-sample-during-scientific-experiment-biochemistry-laboratory-researcher-man-developing-vaccine-against-covid19_482257-28684.jpg?w=1380&t=st=1702647297~exp=1702647897~hmac=b8678ebf62090d845cd82e836ec13357123d5007f6b84cac1a358cb4da7fc385") no-repeat center center / cover;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-text h1 {
  font-size: 5em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.header-text h2 {
  font-size: 2.5em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.header-text h1,
.header-text h2,
.cta-button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cta-button {
  position: absolute;
  bottom: 100px;
  left: 39%;
  transform: translateX(-50%);
  padding: 15px 90px;
  font-size: 1.5em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: #ae9fbb;
  color: white;
  border-color: #ae9fbb;
}


.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent; /* Убираем фон для меню */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 70px;
}

.menu nav ul {
  list-style: none;
  display: flex;
}

.menu nav li {
  margin-right: 20px;
}

.menu nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.menu .login {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.menu nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: color 0.3s; 
}

.menu nav a:hover {
  color: #ae9fbb;
}

/* -------- language -------- */

.language-menu {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  margin-left: -25%;
}

.language-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.language-list {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
}

.language-list li {
  margin: 0;
  padding: 0;
}

.language-list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.language-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  margin-right: 50px;
}

.language-list {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s; 
}

.language-toggle:hover + .language-list,
.language-list:hover {
  display: block;
  opacity: 1; 
}

.language-list a:hover {
  color: grey;
}

.language-toggle[data-lang="ru"]:hover {
  color: #ae9fbb;
}

/* -------- end language -------- */

/* -------- post_list_block_phototext -------- */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Задайте ширину .overlay-text, которая вам подходит */
}

.overlay-text h1 {
  font-size: 24px; 
  font-family: Montserrat;
  margin-left: 10px;
}

.overlay-text h2 {
  font-size: 16px; 
  font-family: Montserrat;
  color: grey;
  margin-left: 10px;
}

.overlay-text h3 {
  font-size: 16px; 
  font-family: Montserrat;
  margin-left: 10px;
  color: #00f;
}

.overlay-text h4 {
  font-size: 16px; 
  font-family: Montserrat;
  margin-left: 10px;
  color: gray;
}

.overlay-text p {
  font-family: Nunito;
  margin-left: 10px; 
}

.left-block,
.right-block {
  flex: 1;
  padding: 20px; /* Задайте отступы, которые вам подходят */
  max-width: 300px; /* Максимальная ширина текстовых блоков */
}

.text {
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
  margin-left: 10px; 
}

.text2 {
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
  margin-left: 10px;
  opacity: 0; /* Начальная непрозрачность */
  transition: opacity 0.5s ease-in-out; /* Длительность и кривая анимации */ 
}

.text2.visible {
  opacity: 1; /* Прозрачность при появлении */
}

.left-block::before,
.right-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px; /* Ширина полоски */
  background-color: #00f; /* Цвет полоски (голубой в данном случае) */
  z-index: 1; /* Устанавливаем z-index, чтобы полоска была над текстом */
}

.test-headers {
  display: flex;
  align-items: baseline;
}

#narcoTestsText {
  display: block;
}

#zpppText {
  display: none;
}

.test-headers h4 {
  margin-right: 20px;
  cursor: pointer;
  color: grey; /* Устанавливаем серый цвет по умолчанию */
  transition: color 0.3s;
}

.test-headers h4:hover {
  color: black; /* Черный цвет при наведении */
}

.test-headers h4.active {
  color: blue; /* Синий цвет для активного заголовка */
  position: relative;
}

.test-headers h4.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00f;
  transition: width 0.3s ease;
}

.test-headers h4.active:hover::before {
  width: 0;
}

.test-headers h4.active:hover::before {
  width: 0;
}

/* -------- end post_list_block_phototext -------- */

.account-link {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.account-link:hover {
  color: #ae9fbb;
  transition: color 0.3s;
}

.account-link a {
  text-decoration: none;
  color: inherit;
}

/* end accound */

/* ------ hz -------- */

.photo-2 {
  position: relative;
  overflow: hidden;
}

.photo-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 10%; /* Измените это значение по вашему усмотрению */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(195, 200, 206, 0), rgba(218, 221, 223, 0.5));
  z-index: 0;
}

.blue-line {
  width: 70px;
  height: 3px;
  background-color: #00f;
  margin: 0 auto 10px;
}

.second-header-text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.second-header-text h1 {
  font-size: 2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: black;
}

.second-header-text h2 {
  font-size: 0.9em;
  padding-top: 2%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: grey;
}

/* ------ end hz ------ */

/* ------ icons ------- */

.icons-container {
  position: absolute;
  top: calc(50% - -50px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.icons-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.icon-container {
  text-align: center;
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

.icon-container img {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.icon-container:last-child {
  margin-right: 0; /* У последнего блока убираем правый отступ */
}

/* Для h1 */
.icon-container h1.text-icon {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

/* Для h2 */
.icon-container h2.text-icon {
  font-size: 13px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  line-height: 1.7;
}


/* ------ end icons ------- */
