.page-header {
  background-color: rgb(6, 39, 58);
  margin-top: 0;
  padding: 35px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Garamond Light;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: normal;
}

/* -------- menu -------- */

.menu {
  font-family: Verdana  ;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.menu a:hover {
  color: grey;
  transition: color 0.3s;
}

/* -------- end menu -------- */

/* -------- account -------- */

.account {
  margin-right: -300px;
  font-family: Verdana;
}

.account a {
  color: #ffffff;
  text-decoration: none;
}

.account-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-link:hover {
  color: #c68c8c;
  transition: color 0.3s;
}

.account-link a {
  text-decoration: none;
  color: inherit;
}

.account-link img {
  margin-right: 5px;
}

/* -------- end account -------- */

.fullscreen-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ff66b2, #6699ff); 
  opacity: 0.7; 
}

/* -------- language -------- */

.language-menu {
  font-family: Verdana;
  position: relative;
  display: inline-block;
}

.language-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.language-list {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
}

.language-list li {
  margin: 0;
  padding: 0;
}

.language-list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.language-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.language-list {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s; 
}

.language-toggle:hover + .language-list,
.language-list:hover {
  display: block;
  opacity: 1; 
}

.language-list a:hover {
  color: #c68c8c;
}

/* -------- end language -------- */