@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.photo-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(168, 89, 155, 0.8), rgba(18, 14, 137, 0.5));
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  align-items: center;
}

.header-text h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.01em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.header-text h2 {
  font-size: 35px;
  font-weight: 500;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  margin: 0 0 20px;
  letter-spacing: 5px;
}

.header-text h1,
.header-text h2,
.cta-button {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cta-button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 350px; /* Измените на нужное вам значение */
  padding: 15px 90px;
  font-size: 1em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: #178FEB;
  color: white;
  border-color: #178FEB;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 5%;
  padding: 20px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent; /* Убираем фон для меню */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  padding-left: 35%;
}

.menu nav ul {
  list-style: none;
  display: flex;
}

.menu .login {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.menu nav a {
  position: relative;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: color 0.3s;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em; 
}

.menu nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 1.2px;
  background-color: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu nav a:hover::after {
  width: 100%;
  left: 0;
}

.logo-container img {
  width: 50%;
  height: auto; 
}

/* -------- account -------- */

.account-link {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 100px;
  font-family: 'Montserrat', sans-serif;

}

.account-link:hover {
  color: #00bfff;
  transition: color 0.3s;
}

.account-link a {
  text-decoration: none;
  color: inherit;
}

.account-link svg {
  vertical-align: middle;
  margin-right: 5px; /* Отступ между значком и текстом */
}

/* -------- end account -------- */

/* -------- language -------- */

.language-menu {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  margin-left: -35%;
}

.language-list li {
  margin: 0;
  padding: 0;
}

.language-list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.language-toggle {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  margin-right: 50px;
}

.language-list {
  font-family: 'Montserrat', sans-serif;
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s; 
}

.language-toggle:hover + .language-list,
.language-list:hover {
  display: block;
  opacity: 1; 
}

.language-list a:hover {
  color: #00bfff;
}

.language-toggle[data-lang="ru"]:hover {
  color: #00bfff;
}

/* -------- end language -------- */

/* -------- post_list_block_phototext -------- */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.first-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Задайте ширину .first-text, которая вам подходит */
}

.first-text h1 {
  font-size: 24px; 
  font-family: Montserrat;
  margin-left: 10px;
}

.first-text h2 {
  font-size: 16px; 
  font-family: Montserrat;
  color: grey;
  margin-left: 10px;
}

.first-text h3 {
  font-size: 16px; 
  font-family: Montserrat;
  margin-left: 10px;
  color: #00f;
}

.first-text h4 {
  font-size: 16px; 
  font-family: Montserrat;
  margin-left: 10px;
  color: gray;
}

.first-text p {
  font-family: Nunito;
  margin-left: 10px; 
}

.left-block,
.right-block {
  flex: 1;
  padding: 20px; /* Задайте отступы, которые вам подходят */
  max-width: 300px; /* Максимальная ширина текстовых блоков */
}

.text {
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
  margin-left: 10px; 
}

.text2 {
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
  margin-left: 10px;
  opacity: 0; /* Начальная непрозрачность */
  transition: opacity 0.5s ease-in-out; /* Длительность и кривая анимации */ 
}

.text2.visible {
  opacity: 1; /* Прозрачность при появлении */
}

.left-block::before,
.right-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px; /* Ширина полоски */
  background-color: #00f; /* Цвет полоски (голубой в данном случае) */
  z-index: 1; /* Устанавливаем z-index, чтобы полоска была над текстом */
}

.test-headers {
  display: flex;
  align-items: baseline;
}

#narcoTestsText {
  display: block;
}

#zpppText {
  display: none;
}

.test-headers h4 {
  margin-right: 20px;
  cursor: pointer;
  color: grey; /* Устанавливаем серый цвет по умолчанию */
  transition: color 0.3s;
}

.test-headers h4:hover {
  color: black; /* Черный цвет при наведении */
}

.test-headers h4.active {
  color: blue; /* Синий цвет для активного заголовка */
  position: relative;
}

.test-headers h4.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00f;
  transition: width 0.3s ease;
}

.test-headers h4.active:hover::before {
  width: 0;
}

.test-headers h4.active:hover::before {
  width: 0;
}

/* -------- end post_list_block_phototext -------- */

/* ------ hz -------- */

.photo-2 {
  position: relative;
  overflow: hidden;
}

.photo-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 10%; /* Измените это значение по вашему усмотрению */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(195, 200, 206, 0), rgba(218, 221, 223, 0.5));
  z-index: 0;
}

.blue-line {
  width: 70px;
  height: 3px;
  background-color: #00f;
  margin: 0 auto 10px;
}

.second-header-text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.second-header-text h1 {
  font-size: 2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: black;
}

.second-header-text h2 {
  font-size: 0.9em;
  padding-top: 2%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: grey;
}

/* ------ end hz ------ */

/* ------ icons ------- */

.icons-container {
  margin-top: 3%;
  position: absolute;
  top: calc(50% - -50px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.icons-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.icon-container {
  text-align: center;
  width: 200px;
  height: 200px;
  margin-right: 100px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.icon-container.visible {
  opacity: 1; /* Устанавливаем прозрачность в 1 при появлении */
  transform: translateY(0); /* Сбрасываем смещение вниз */
}

.icon-container img {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.icon-container:last-child {
  margin-right: 0; /* У последнего блока убираем правый отступ */
}

.icon-container h1.text-icon {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.icon-container h2.text-icon {
  font-size: 13px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  line-height: 1.7;
}

/* ------ end icons ------ */

/* ------ flask ------ */

.photo-3 {
  position: relative;
  overflow: hidden;
}

.photo-3 img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------ end flask ------ */

/* ------ third photo ------ */

.second-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);}

.third-header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.third-header-text h1 {
  font-size: 1.7em;
  margin: 0;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: #51565c;
  margin-left: 1%;
}

.third-header-text h2 {
  font-size: 110px;
  font-weight: 400;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  color: #178FEB;
  letter-spacing: -1px;
}

.second-button {
  position: absolute;
  bottom: 32%;
  left: 22.4%;
  padding: 15px 20px;
  font-size: 14px;
  color: white;
  background-color: #178FEB;
  border: 2px solid #178FEB; /* rgb(60, 60, 255); */
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.second-button:hover {
  background-color: #51565c;
  border-color: #51565c;
}

/* ------ end third photo ------ */

/* ------ footer ------  */

footer {
  font-size: 0.8em;
  background-color: #333; /* Темно-серый цвет футера */
  color: #fff; /* Белый цвет текста */
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item:not(:last-child) {
  margin-right: 20px;
}

.footer-item svg {
  margin-right: 5px; /* Пример отступа между SVG и текстом */
}

.footer-item:first-child {
  margin-left: 7%; /* Пример отступа в 7% */
}

.footer-item:last-child {
  margin-right: 7%; /* Пример отступа в 7% */
}

/* ------ end footer ------  */