{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

  <div class="photo">
    <img src="{% static 'media/doctor.jpg' %}" alt="Doctor Photo">
    <div class="overlay-text">
      <div class="left-block">
        <h1>Почему Медицинское Тестирование Имеет Значение…</h1>
        <h2>ПРО НАС</h2>
        <h3>"Быстро, вежливо & так дешево!”</h3>
        <p class="text">
          Учитывая, насколько хрупко наше здоровье как вида и насколько важно выявлять болезни как можно раньше, 
          мы пришли к выводу, что хорошая лаборатория для клинических испытаний – это то, в чем мы сейчас нуждаемся больше всего!
        </p>
      </div>
      <div class="right-block">
        <h1>Виды Тестов</h1>
        <h2>ЧТО МЫ ПРЕДЛАГАЕМ</h2>
        <div class="test-headers">
          <h4 id="narcoTestsHeader" class="test-header active" onclick="showText(0)">НАРКО-ТЕСТЫ</h4>
          <h4 id="zpppHeader" class="test-header" onclick="showText(1)">ЗППП</h4>
        </div>
        <div class="test-texts">
          <p id="narcoTestsText" class="text2 active">Помимо множества других типов тестов, мы также предлагаем натуропатические медицинские тесты. Он включает анализ волос и мочи на элементы, гормон роста мочи, витамин D в пятнах крови, кортизол волос, анализ на гормоны слюны и т. д.</p>
          <p id="zpppText" class="text2">В современном мире более сексуально активная молодежь приводит к большему количеству заболеваний, передающихся половым путем. Чтобы убедиться, что вы не попали в эту статистику, проверьте себя в нашей клинике!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="photo-2">
    <img src="{% static 'media/back3.jpg' %}" alt="Back Photo">
    <div class="overlay">
      <div class="second-header-text">
        <div class="blue-line"></div>
        <h1>Что Делает Нас Лучшими?</h1>
        <h2>НАШИ ОСОБЕННОСТИ</h2>
      </div>
    </div>
    <div class="icons-container">
      <div class="icons-row">

        <!-- Первый горизонтальный ряд -->
        <div class="icon-container">
          <img src="{% static 'media/icon1.png' %}" alt="Icon 1">
          <h1 class="text-icon">ДОСТУПНО</h1>
          <h2 class="text-icon">Наши цены на медицинские тесты на 25% ниже, чем у конкурентов...</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon2.png' %}" alt="Icon 2">
          <h1 class="text-icon">БЫСТРО</h1>
          <h2 class="text-icon">Лучшая часть любого тестирования - получение результатов максимально быстро.</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon3.png' %}" alt="Icon 3">
          <h1 class="text-icon">ОПЫТ</h1>
          <h2 class="text-icon">Почти 4 десятилетия опыта в нашем распоряжении - у нас все под контролем.</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon4.png' %}" alt="Icon 4">
          <h1 class="text-icon">СЕРТИФИЦИРОВАНО</h1>
          <h2 class="text-icon">Сертифицировано AHD, DJDH и Ассоциацией ATY.</h2>
        </div>
      </div>

      <div class="icons-row">
        <!-- Второй горизонтальный ряд -->
        <div class="icon-container">
          <img src="{% static 'media/icon5.png' %}" alt="Icon 5">
          <h1 class="text-icon">КАЧЕСТВО</h1>
          <h2 class="text-icon">Рост и изменения - две реальности, которые ни одно предприятие не может проигнорировать.</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon6.png' %}" alt="Icon 6">
          <h1 class="text-icon">ИННОВАЦИИ</h1>
          <h2 class="text-icon">Мы постоянно ищем инновационные способы улучшения ухода за пациентами.</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon7.png' %}" alt="Icon 7">
          <h1 class="text-icon">СОТРУДНИЧЕСТВО</h1>
          <h2 class="text-icon">Мы верим в командную работу и безграничные возможности коллективной энергии.</h2>
        </div>
        <div class="icon-container">
          <img src="{% static 'media/icon8.png' %}" alt="Icon 8">
          <h1 class="text-icon">ГОТОВНОСТЬ 24/7</h1>
          <h2 class="text-icon">Мы готовы прийти на помощь 24/7. В любой срочной ситуации мы рядом!</h2>
        </div>
      </div>
    </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var narcoTestsHeader = document.getElementById('narcoTestsHeader');
      var zpppHeader = document.getElementById('zpppHeader');
      var narcoTestsText = document.getElementById('narcoTestsText');
      var zpppText = document.getElementById('zpppText');
  
      // Скрыть текст ZPPP при загрузке страницы
      zpppText.style.opacity = '0';
  
      // Установить активным заголовок по умолчанию
      narcoTestsHeader.classList.add('active');
      narcoTestsText.style.opacity = '1'; // Показать текст Narco-Tests
  
      // Переключение текста при клике на ZPPP
      zpppHeader.addEventListener('click', function () {
        fadeOut(narcoTestsText);
        setTimeout(function () {
          narcoTestsText.style.display = 'none'; // Скрыть текст Narco-Tests после затухания
          fadeIn(zpppText);
        }, 300); // Задержка после скрытия предыдущего текста
        zpppHeader.classList.add('active');
        narcoTestsHeader.classList.remove('active');
      });
  
      // Переключение текста при клике на Narco-Tests
      narcoTestsHeader.addEventListener('click', function () {
        fadeOut(zpppText);
        setTimeout(function () {
          zpppText.style.display = 'none'; // Скрыть текст ZPPP после затухания
          fadeIn(narcoTestsText);
        }, 300); // Задержка после скрытия предыдущего текста
        narcoTestsHeader.classList.add('active');
        zpppHeader.classList.remove('active');
      });
  
      function fadeIn(element) {
        element.style.transition = 'opacity 0.5s';
        element.style.display = 'block'; // Показать элемент перед появлением
        setTimeout(function () {
          element.style.opacity = '1';
        }, 50); // Задержка перед появлением
      }
  
      function fadeOut(element) {
        element.style.transition = 'opacity 0.5s';
        element.style.opacity = '0';
      }
    });
  </script>

{% endblock %}